<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Tree Web App</title>
    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='style.css') }}"
    />
    <link
      rel="stylesheet"
      href="https://use.fontawesome.com/releases/v5.7.1/css/all.css"
    />
  </head>
  <body>
    <!-- Main container for the page content -->
    <div class="container">
      <h1>Welcome to the Tree Talk Message Board</h1>
      <div>
        <img
          src="{{ url_for('static', filename='img/tree.jpg') }}"
          alt="Tree Logo"
        />
      </div>
      <div class="login">
        <div class="links">
          <a href="{{ url_for('login') }}" class="active">Login</a>
          <a href="{{ url_for('register') }}">Register</a>
        </div>
        <form action="{{ url_for('login') }}" method="post" class="login-form">
          <div class="item">
            <label for="username">
              <i class="fas fa-user"></i>
            </label>
            <input
              type="text"
              name="username"
              placeholder="Username"
              id="username"
              required
            />
          </div>
          <div class="item">
            <label for="password">
              <i class="fas fa-lock"></i>
            </label>
            <input
              type="password"
              name="password"
              placeholder="Password"
              id="password"
              required
            />
          </div>

          <div class="msg">{{ msg }}</div>
          <input type="submit" value="Login" />
        </form>
      </div>

      <!-- Bottom container for additional information or footer -->
      <div class="bottom-container">
        <div class="footer">
          <p class="Name">Crystal Ma 1157669</p>
        </div>
      </div>
    </div>
  </body>
</html>
